// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black


@mixin font($f-name, $f-weight, $f-url1, $f-url2){
	@font-face {
		font-family: $f-name;
		font-weight: $f-weight;
		src: url($f-url1) format('woff'),
				 url($f-url2) format('woff2');
	}
};

@include font('Roboto', 400, '../fonts/roboto/roboto-v20-latin-regular.woff', '../fonts/roboto/roboto-v20-latin-regular.woff2');
@include font('Roboto', 300, '../fonts/roboto/roboto-v20-latin-300.woff', '../fonts/roboto/roboto-v20-latin-300.woff2');
@include font('Roboto', 700, '../fonts/roboto/roboto-v20-latin-700.woff', '../fonts/roboto/roboto-v20-latin-700.woff2');
